*{
    margin: 0;
    
}
body{
  background-color:brown;
}
/* NavBar.jsx */

.main-logo{
    background-color: white;
}
.main-logo img{
    width: 15%;
    /* background-color: white; */
}

/*
App.jsx
*/
.parent-container {
    display: flex;
    background-color: brown;
  }
  
  .column {
    flex: 1;
    height: 100px;
  }
  
  .column:first-child,
  .column:last-child {
    flex-grow: 1;
  }
  
  .column:nth-child(2) {
    flex-grow: 8;
  }
  
/* Hero.jsx */


/* .hero img{
  object-fit: cover; 
  width: 80%; 
  position: absolute; 
  
} */


.hero { 
  position: absolute; /* Make sure the container is positioned relative */
  width: 80%;
}
.hero img{
  object-fit: cover; /* Scale the image to cover the entire container */
  width: 100%;
}

.hero-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5); /* Transparent background color */
  z-index: 1; /* Ensure it's above the bottom boxes */
}

.hero-overlay h1 {
  color: #fff; /* Text color */
  text-align: center; /* Center the text horizontally */
}

.bottom-boxes {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100.20%;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5); /* Transparent background color */
  z-index: 0; /* Ensure it's behind the overlay */
}

.box {
  flex: 1;
  padding: 20px;
  color: #fff; /* Text color */
  text-align: center; /* Center the text horizontally */
  border-right: 5px solid #fff; /* Add a right border between boxes */
}
